<div id="game-board" style="margin-top: 5%; padding-left: 6%; padding-right: 6%; text-align: justify;">
    <div align="center">
        <h2 style="margin-bottom: 0">Ng-Mines</h2>
        <b>(Angular Mines)</b>
    </div>
    <p>
        Game criado por <a href="https://www.linkedin.com/in/leonardo-costa-37907592">Leonardo Costa</a> para a apresentação do workshop "Desenvolvendo Games com AngularJS", no <a href="https://www.facebook.com/fatecgamesday/">Fatec SCS Games Day 2016</a>.
    </p>
    <p>
        Tecnologias usadas: 
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript 5</li>
            <li>AngularJS 1.5.x</li>
        </ul>
    </p>
        <p>
        Código-fonte disponível no <a href="https://github.com/NexTeck/Ng-Mines">GitHub</a> sob a licença MIT.<br><br>
    </p>
    <p align="center">
        <a href="https://www.linkedin.com/in/leonardo-costa-37907592">Leonardo Costa</a>
        @ <a href="https://github.com/nexteck">NexTeck</a> © 2016
    </p>
</div>
